# Notes for Python for Data Analysis 2nd Edition
## Chapter 8: Data Wrangling: Join, Combine, and Reshape

In [6]:
import pandas as pd
import numpy as np

In [3]:
test = pd.DataFrame(np.arange(10).reshape(2, 5))
print(test)
# Columns have to map to original columns
test2 = pd.DataFrame(test, columns=list('ABCDE')) 
print(test2)
test3 = pd.DataFrame(test, columns=[0,1,2,3,4])
print(test3)
print(test3.set_index(3)) # set index

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9
    A   B   C   D   E
0 NaN NaN NaN NaN NaN
1 NaN NaN NaN NaN NaN
   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9
   0  1  2  4
3
3  0  1  2  4
8  5  6  7  9

In [4]:
test4 = pd.DataFrame(np.arange(20).reshape(4,5), columns=[
                                                        ['I', 'I', 'I', 'I', 'J'],
                                                        ['G', 'G', 'F', 'F', 'H'], 
                                                        list('ABCDE') #Inner-most
                                                         ])
print(test4)
print(test4.columns)
# You can reuse columsn
pd.DataFrame(np.arange(20).reshape(4,5),
             columns=test4.columns)

    I               J
    G       F       H
    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
MultiIndex([('I', 'G', 'A'),
            ('I', 'G', 'B'),
            ('I', 'F', 'C'),
            ('I', 'F', 'D'),
            ('J', 'H', 'E')],
           )

    I               J
    G       F       H
    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [5]:
l = list('asfghh')
list(zip(l, '2'*len(l)))

[('a', '2'), ('s', '2'), ('f', '2'), ('g', '2'), ('h', '2'), ('h', '2')]